<div class="filters-container">
  <div class="filter">
    <label for="country">País:</label>
    <select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select>
  </div>
  <div class="filter">
    <label for="state">Estado:</label>
    <select id="state" [(ngModel)]="selectedState" (change)="onStateChange()" [disabled]="!selectedCountry">
      <option *ngFor="let state of states" [value]="state">{{ state }}</option>
    </select>
  </div>
  <div class="filter">
    <label for="city">Cidade:</label>
    <select id="city" [(ngModel)]="selectedCity" (change)="setCityCoordinate($event)" [disabled]="!selectedState">
      <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
    </select>
  </div>
</div>

<div class="weather-info" *ngIf="weatherData?.current_weather">
    <h2>{{ selectedCity || 'Cidade não selecionada' }}</h2>
    <div class="temperature-content">
      <!-- Ensure `weatherSvgIcon` is properly set; fallback text or debug can be added -->
      <div [innerHTML]="weatherSvgIcon" class="weather-icon"></div>
      <p class="temperature">{{ weatherData.current_weather.temperature || 'N/A' }} °C</p>
    </div>
</div>

<div class="button-container">
  <button (click)="goToDetails()" class="details-button">Ver Detalhes</button>
  <button (click)="goToHistory()" class="history-button">Histórico</button>
</div>